$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);
$white75: hsla(0, 0%, 100%, 0.75);
$veryLightGray: hsl(0, 0%, 95%);

$ff-heading: 'Big Shoulders Display', cursive;
$ff-default: 'Lexend Deca', sans-serif;

/***** Desktop CSS *****/
body {
    font-family: $ff-default;
    display: grid;
    place-items: center;
    height: calc(100vh - 0.1px);
}

.card-group {
    &>:nth-child(1) {
        background-color: $brightOrange;

        button {
            color: $brightOrange;
        }
    }

    &>:nth-child(2) {
        background-color: $darkCyan;

        button {
            color: $darkCyan;
        }
    }

    &>:nth-child(3) {
        background-color: $veryDarkCyan;

        button {
            color: $veryDarkCyan;
        }
    }
}

.card {
    padding: 3rem 2.8rem;
    font-size: 15px;
    border-radius: 10px;

    &-img {
        width: 75px;
        margin-bottom: 3rem;
    }

    &-title {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $ff-heading;
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
    }

    &-text {
        color: $white75;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.8em;
        margin-bottom: 5rem;
    }

    button {
        font-weight: 700;
        letter-spacing: 1px;
        border: 2px solid white;
        padding: .8rem 2rem;
        background: white;

        &:hover {
            background: transparent;
            color: white;
        }

        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }
}

/***** End Desktop CSS *****/

/***** Mobile CSS *****/
@media(max-width:375px) {

    .card-group {
        margin: 10% auto;

        &>:nth-child(1) {
            border-end-start-radius: 0px;
            border-end-end-radius: 0px;
        }

        &>:nth-child(2) {
            border-radius: 0px;
        }

        &>:nth-child(3) {
            border-start-start-radius: 0;
            border-start-end-radius: 0px;
        }
    }

    .card {
        padding: 1rem 1.1rem !important;
        margin-bottom: 0 !important;

        &-img {
            margin-bottom: 2rem !important;
        }

        &-text {
            margin-bottom: 2rem !important;
        }

        button {
            padding: .8rem 1.8rem;
            font-size: .8rem;
        }

    }
}

/***** End Mobile CSS *****/

/***** Footer *****/
.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);

    }
}

/***** End Footer *****/